name: Tests

on: push

jobs:
  test_cjs:
    strategy:
      matrix:
        include:
          - id: ubuntu:6
            os: ubuntu-latest
            node: 6
          - id: ubuntu:8
            os: ubuntu-latest
            node: 8
          - id: ubuntu:10
            os: ubuntu-latest
            node: 10
    runs-on: ${{ matrix.os }}
    needs: [strict, browser, test_mjs]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - run: npm i
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - run: npm rebuild --ignore-scripts
    - run: npm run test-cjs

  test_mjs:
    strategy:
      matrix:
        include:
          - id: windows:12
            os: windows-latest
            node: 12
          - id: macos:14
            os: macos-latest
            node: 14
          - id: ubuntu:16
            os: ubuntu-latest
            node: 16
    runs-on: ${{ matrix.os }}
    needs: [strict, browser]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - run: npm i
    - run: npm run test
    - run: npm run test-cjs

  browser:
    runs-on: ubuntu-latest
    needs: strict
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 18
    - run: sudo apt-get install xvfb
    - run: npm i
    - run: xvfb-run --auto-servernum npm run browser-test

  strict:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 18
    - run: npm i
    - run: npm run lint
    - run: npm run test-cov
